services:
  mysql:
    container_name: mysql_db
    image: mysql:8.0.30
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: reservation0320
      MYSQL_DATABASE: kijinkai
      MYSQL_USER: kijinkai_local_user
      MYSQL_PASSWORD: 251001
#    # 데이터 보존을 위해 볼륨 추가 (데이터 유실 방지)
#    volumes:
#      - ./mysql_data:/var/lib/mysql

  redis:
    image: redis:latest
    container_name: redis_container
    ports:
      - "6379:6379"
    restart: always

  kijinkai:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/kijinkai_local?zeroDateTimeBehavior=convertToNull&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    depends_on:
      - mysql